.SpecialUI{
width: 100%;
height: 200px;
background-color: rgb(245, 240, 240);
padding: var(--spacing-xs);
position: relative;
&__block-wrap{
    width: 100%;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
}
}

.btn__exit{
    position: absolute;
    right: var(--spacing-xs);
    bottom: var(--spacing-xs);
}