
@font-face {
  font-family: "RasmusAndersson";
  src: url(./../asset/fonts/RasmusAndersson-Inter/1593443255805-Inter-Medium.otf);
}
#Menu {
  font-family: RasmusAndersson, system-ui, -apple-system, sans-serif;
  width: 100%;
  // height: calc(100vh - 40px);

  overflow: hidden;
  padding: 0 var(--gap-3x)0 0;
  display: grid;
  grid-template-rows: 90px 1fr 60px;
  row-gap: 10px;
  border-radius: 0 30px 30px 0;
  font-size: 80%;
  .sidebar-menu {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
    }
  }
  .sidebar-menu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.sidebar-header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    transition: transform 1s;
    margin: 15px 0 15px 0;
    height: 60px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.sidebar-bottom{
display: flex;
align-items: center;
justify-content: center;

}
.separator{
  position: relative;
  &::before{
    --gap-left: calc( var(--gap-4x) + 40px );
    content: '';
    position: absolute;
    top: 0;
    left: var(--gap-left);
    height: 1px;
    width: calc( 100% - calc( var(--gap-left) + var(--gap-25x) ) );
    background: var(--gk-c-line);
    // background: #2c385a;
  }
}
// стили для элемента
.itemMenu {
  
  width: 100%;
  // color: #000000;

  min-height: 50px;
  display: flex;
  align-items: center;

  //    border-bottom: 1px solid #b4b0b0;
  .itemMenu__wrap {
    width: calc(100% - 30px);
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.itemMenu,
.Drop__head {
  border-radius: 0px 20px 20px 0px;

}

// стили для разделителя
.item__sidebar{
  padding: 10px;
  padding-left: 20px;

}
.submenu{
  .item__sidebar{
    padding-left: 30px;
  }
}
.itemDropMenu {
  input {
    display: none;
  }

  label {
    display: flex;
    width: 100%;

    .itemDropMenu__wrap {
      width: 100%;
   
      display: grid;
      grid-template-columns: 1fr 30px;
      align-items: center;
    }
  }

  .Drop__arrow {
    width: 30px;
    height: 30px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  input ~ .submenu {
    display: none;
    opacity: 0;
    transition: 500ms linear;
  }

  input:checked ~ .submenu {
    opacity: 1;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    visibility: visible;
    transition: 500ms linear;
  }

  input ~ label .Drop__arrow {
    transform: rotate(0deg);
    transition: 500ms linear;
  }

  input:checked ~ label .Drop__arrow {
    transform: rotate(90deg);
    transition: 200ms linear;
  }
}

// ЦВЕТА
.itemMenu:hover {
  background-color: var(--gk-c-item-active);
  color: #dfdfdf;
}

.itemDropMenu {
  label:hover {
    background-color: var(--gk-c-item-active);
    color: #dfdfdf;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  // input~.submenu {
  //     background: #ece7e7;

  // }
}

.SeparatorMenu {
  border-bottom: 1px solid #b4b0b0;
  border-top: 1px solid #b4b0b0;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 100%;
  padding: 10px;

  h4 {
    width: calc(100% - 30px);
    text-align: center;
  }
}