#SideBar{
    width: 100%;
    display: flex;
  justify-content: center;
    .inner__box{
width: calc(100% - 40px);
    }
}
.box__item{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
.item__links__wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
.img__wrap__useful{
  padding: 10px;
  width: calc(100% - 0px);
 
  img{
    border-radius: 8px;
    width: 100%;
  }
}

.name__wrap__useful{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 10px 10px;
  // .name__item__useful{
  
  // }

}