html[data-theme="light"] {
  --background-color: #ffffff;
  --gk-color-block: #ffffff;
  --color-internal-block: #e8eeff;
  --item-color: #ed500a;
  --color-font: #000;
  --color-border: #eaeaea;
  --color-item-menu-hover: #fff;
  --color-phone: rgb(45, 46, 82);
  --color-border-phone: #000;

  --color-active-item-menu: #fff;
  --color-shadows-01: rgba(0, 0, 0, 0.12);
  --color-shadows-02: rgba(0, 0, 0, 0.24);
  --guzkod-color-border: #eaeaea;
  --GK-color-head: rgba(255, 255, 255, 0);
  // --GK-color-player: #ffffff;
  // --GK-color-player2: rgba(0, 0, 0, 0.9);
  --gk-color-font-sidebar: #9fa0a2;
  --gk-color-background-sidebar: #F2F5FF;
  --gk-color-background-main: #ffffff;
}

html[data-theme="dark"] {
  --background-color: #0b0e14;
  --gk-color-block: #17223D;
  
  --item-color: #ed500a;
  --color-font: #f8e6de;
  --color-border: #141414;
  --color-item-menu-hover: #fff;
  --color-phone: rgb(255, 251, 0);
  --color-border-phone: #ffffff;
  --color-internal-block: #0f2f3d;
  --color-active-item-menu: #fff;
  --color-shadows-01: rgba(255, 255, 255, 0.12);
  --color-shadows-02: rgba(255, 255, 255, 0.24);
  --guzkod-color-border: #252525;
  --GK-color-head: #171d23;
  // --GK-color-player: #171d23;
  // --GK-color-player2: rgb(255, 255, 255, 0.9);
--gk-c-scrollbar-thumb:#283a66;
--gk-c-scrollbar-thumb-hover:#374d81;


  --gk-color-font-sidebar: #dbeff0;
  --gk-color-background-sidebar: #17223D;
  --gk-color-background-main: #0f172a;
  --gk-c-line:#2c385a;
  --gk-c-item-active: #213157;
}

html[data-theme="light-contrast"] {
  --background-color: rgb(209, 216, 255);
  --control-color: #fdfcff;
  --gk-color-block: #ffffff;
  --item-color: #f15a24;
  --color-font: #000;
  --color-border: #000000;
  --color-item-menu-hover: #fff;
  --color-phone: rgb(3, 3, 3);
  --color-border-phone: #000;
  --color-internal-block: #eeeeee;
  --color-active-item-menu: #fff;
  --color-shadows-01: #e9ebfa;
  --color-shadows-02: rgba(156, 166, 230, 0.5);
  --guzkod-color-border: #eaeaea;
  --GK-color-player: #ffffff;
  --GK-color-player: #ffffff;
  --GK-color-player2: rgba(0, 0, 0, 0.562);

  .color_lv_1-3 {
    border-bottom: 1px solid var(--color-border-phone);
  }

  .wrap-Specialists a {
    border-bottom: 1px solid var(--color-border-phone);
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .contact,
  .w__w {
    border: 2px solid var(--color-border-phone);
  }
}

html[data-theme="dark-contrast"] {
  --background-color: #0c0c0c;
  --control-color: #1e1d1f;
  --gk-color-block: #121212;
  --item-color: #f15a24;
  --color-font: #ffffff;
  --color-border: #ffffff;
  --color-item-menu-hover: #fff;
  --color-phone: rgb(255, 251, 0);
  --color-border-phone: #ffffff;
  --color-internal-block: #2b2b2b;
  --color-active-item-menu: #fff;
  --color-shadows-01: rgba(255, 255, 255, 0.12);
  --color-shadows-02: rgba(255, 255, 255, 0.24);
  --guzkod-color-border: #252525;
  --GK-color-player: #000000;
  --GK-color-player: #000000;
  --GK-color-player2: rgba(255, 255, 255, 0.568);

  .color_lv_1-3 {
    border-bottom: 1px solid var(--color-border-phone);
  }

  .wrap-Specialists a {
    border-bottom: 1px solid var(--color-border-phone);
  }

  img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .contact,
  .w__w {
    border: 2px solid var(--color-border-phone);
  }
}

// * {
//   transition: background-color color 1.3s ease-in-out ;

// }

.menu_wrap::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  
}

*::-webkit-scrollbar-track {

  background: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--gk-c-scrollbar-thumb);
 

}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--gk-c-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22add4, #1e98ba);
}

a {
  text-decoration: none;
}

/* цвет фона */
.app {
  color: var(--color-font);
}

header {
  background-color: var(--GK-color-head);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#MobileMenu {
  background-color: var(--GK-color-head);
}

.color_lv_0 {
  background-color: var(--gk-color-background-main);
  transition: background-color 1s ease;
  // background-image: url(./../asset/svg/ooorganize.svg);
  // background-size: cover;
}

.controls {
  backdrop-filter: blur(5px);
  transition: opacity 2s linear 0s;
  // opacity: 0;

  // filter: drop-shadow(16px 16px 20px red);
  // background-color: var(--GK-color-player2);
  .video-ProgressBar,
  .video-control-item {
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
}

.color-player {
  // background-color: var(--GK-color-player);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  background-color: #ffffff13;

  // border: 1px solid var(--guzkod-color-border);
  // input[type="range"] {
  //   background-color: var(--GK-color-player2);

  //   &::-webkit-slider-thumb {
  //     // box-shadow: -20rem 0 0 20rem var(--GK-color-player2);
  //     // background-color: red;
  //   }

  //   &::-moz-range-thumb {
  //     // background-color: red;

  //     // box-shadow: -100rem 0 0 100rem var(--GK-color-player2);
  //   }
  // }
}

// .color-player-bt {
//   border-top: 1px solid var(--guzkod-color-border);
// }
// .color-player-bb {
//   border-bottom: 1px solid var(--guzkod-color-border);
// }
.color_playlist-item {
  background-color: var(--GK-color-player);
  backdrop-filter: blur(40px);
  border: 1px solid var(--guzkod-color-border);
}

/* цвет меню */

.btnmenu {
  path {
    stroke: var(--color-font);
    fill: var(--color-font);
  }
}

.color_lv_1-3 {
  color: var(--color-font);
  transition-duration: 0.5s;

  .arrow line {
    stroke: var(--color-font);
  }
}

.color_lv_1-3:hover {
  color: var(--color-item-menu-hover);
  background-color: var(--item-color);
  transition-duration: 0.5s;

  .arrow line {
    stroke: var(--color-item-menu-hover);
  }
}

.dropdown input:checked~label .color_lv_1-3 {
  background-color: var(--item-color);
  color: var(--color-active-item-menu);
}

.color_lv_1-4 {
  color: var(--color-font);

  a,
  li {
    color: var(--color-font);
  }


}

.color_lv_1-5 {
  color: #435b66;
}

.color-red {
  color: red;
}

#Footer {
  li:hover {
    a {
      color: var(--item-color);
    }
  }
}

/* цвет блоков новостей итп */

.color-menu {
  transition: background-color 1s ease;
  background-color: var(--gk-color-background-sidebar);
}

.color_lv_1-2 {
  transition: background-color 1s ease;
  background-color: var(--gk-color-block);
  position: relative;
  border-radius: 22px;

  overflow: hidden;
  // border: 1px solid var(--guzkod-color-border);
}

.color_lv_2-0 {
  color: var(--gk-color-font-sidebar);

  a {
    color: var(--gk-color-font-sidebar);

  }

  svg {
    fill: currentColor;
  }
}

.contact,
.w__w {
  background-color: var(--color-internal-block);

  span {
    color: red;
    font-weight: bold;
  }
}

/* цвет кнопки */
.gk-btn-read {
  background-color: var(--item-color);
  color: var(--color-font);
}

.color_lv_2-1:hover {
  background-color: #2e0202;
  color: aliceblue;
  fill: aliceblue;
}

.namepdf {
  color: var(--color-font);
}

.legend {
  background-color: var(--gk-color-block);
  color: var(--color-font);
}

.phone {
  color: var(--color-phone);
}

.usefulname {
  color: var(--color-font);
}

.read__content {
  background-color: var(--gk-color-block);
  box-shadow: 0 0 0 1px var(--color-shadows-01),
    1px 2px 12px var(--color-shadows-02);
}

.home .photo_org_wrap img {
  box-shadow: 0 0 0 1px var(--color-shadows-01),
    1px 2px 12px var(--color-shadows-02);
}



// .BTNvisually {
//     background-color: var(--control-color);
// }

svg {
  enable-background: "new 0 0 396.7 252;";
}

.st0 {
  fill: none;
  stroke: none;
}

.st1 {
  fill: #ffffff;
  stroke: #f15a24;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #f15a24;
}

.st3 {
  fill: #f15a24;
  stroke: #f15a24;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke: #f15a24;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st5 {
  fill: #603813;
}

.st6 {
  fill: #736357;
}

.st7 {
  font-family: "Calibri-Bold";
  fill: var(--color-font);
}

.st8 {
  font-size: 32.1612px;
}

.st9 {
  font-size: 26.2054px;
}

.st10 {
  font-size: 29.7789px;
}

#NOK {
  background-color: #ffffff;
}

.text__read::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px -23px 8px -15px var(--gk-color-block) inset;
  -moz-box-shadow: 0px -23px 8px -15px var(--gk-color-block) inset;
  box-shadow: 0px -23px 8px -15px var(--gk-color-block) inset;
}

@media (max-width: 767px) {

  #Menu,
  #Header {
    background-color: var(--gk-color-block);
  }

}