.National {
  background-color: var(--bg-color-02);
  padding: var(--pm-x);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-light);
  overflow: hidden;
  row-gap: 10px;
  border-radius: var(--cr-x);
img{
  height: 400px;
}
}
