.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s) var(--spacing-l);
  font-size: var(--font-size-large);
  transition: all 0.15s linear;
  line-height: 1;
  white-space: nowrap;
  border-radius: var(--radius-lg);
  

  svg {
    width: 18px;
    height: 18px;
    fill: var(--button-text);

    margin-right: var(--spacing-xs);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover svg {
    fill: var(--button-text);
  }

  &_theme_blue {
    color: var(--button-text);
    border: none;
    background-color: var(--button-bg);

    &:hover {
      background-color: var(--button-bg-hover);
    }
  }

  &_theme_transparent-grey {
    color: var(--text-primary);
    border: 1px solid var(--border);
    background-color: transparent;

    &:hover {
      color: var(--primary-bg);
      border-color: var(--primary-bg);
    }

    &:hover svg {
      fill: var(--primary-bg);
    }
  }

  &_theme_transparent-blue {
    color:  var(--button-bg);
    border: 1px solid  var(--button-bg);
    background-color: transparent;
    // background-color: red;

    &:hover {
      color: var(--button-text);
     
      background-color: var(--button-bg);
    }
  }
}
