.information_container {
  color: var(--font-color-light);
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas: "title title" ". .";
  gap: var(--pm-x);
  h2 {
    font-weight: bold;
    // margin-bottom: var(--pm-x);
    grid-area: title;
  }
  .working {
    padding: var(--pm-x);
    border-radius: var(--cr-x);

    display: flex;
    flex-direction: column;
    background: var(--bg-color-02);
    width: 100%;
  }
  .information_phone {
    display: flex;
    flex-direction: column;
    padding: var(--pm-x);
    border-radius: var(--cr-x);
    background: var(--bg-color-02);
    width: 100%;
    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h3 {
      width: 100%;
    }
    span {
      font-size: 24px;
      text-align: center;
    }
  }
}
