.information_container {
  color: var(--font-color-light);
 
/* Для мобильных устройств */
@media screen and (max-width: 768px) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

/* Для планшетов */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Для ПК */
@media screen and (min-width: 1200px) {
  /* Ваш CSS код для ПК */
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas: "title title" ". .";
  gap: var(--spacing-m);
}
  h2 {
    font-weight: bold;
    // margin-bottom: var(--spacing-m);
    grid-area: title;
  }
  .working {
    padding: var(--spacing-m);
    border-radius: var(--radius-lg);

    display: flex;
    flex-direction: column;
    background: var( --block-bg);
    width: 100%;
  }
  .information_phone {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m);
    border-radius: var(--radius-lg);
    background: var( --block-bg);
    width: 100%;
    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h3 {
      width: 100%;
    }
    span {
      font-size: var( --font-size-xl);
      text-align: center;
    }
  }
}
