.qr-code-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--cr-m);
    background-color: white;
    aspect-ratio: 1;
    padding: var(--pm-x);

}
.qr_code__wrap{
    border-radius: var(--cr-m);
    background-color: white;
    aspect-ratio: 1;
    padding: var(--pm-x);
}