.input-container {
  position: relative;
  // margin-top: 25px;
}
.input-container label {
  padding: var(--spacing-xxs);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--button-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
.input-container input {
  padding: var(--spacing-xs) var(--spacing-m);
  border: 1px solid var(--button-bg);
  border-radius: var(--radius-md);
  background: transparent;
  width: 100%;

 
  color: #000000;
}
.input-container input:focus {
  border: none;
  outline: none;
  border: 1px solid var(--button-bg);
  // background-color: var(--button-bg);
  // color: var(--button-text);
}
.input-container input:focus {
  & ~ label {
    // background-color: red;
    color: var(--font-color-light);
    top: 0;
    left: 0;
    transform: translate(0, -100%);
  }
}
.input-container input:valid ~ label {
  color: var(--font-color-light);
  top: 0;
  left: 0;
  transform: translate(0, -100%);
}
.TextAria {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  row-gap: var(--spacing-xs);
  textarea {
    border-radius: var(--radius-lg);
    overflow: hidden;
    padding: var(--spacing-m);
    min-height: 200px;
    height: auto;
    resize: vertical;
    outline: none;
    border: 2px solid var(--button-bg);
    background-color: transparent;
    font-size: var(--font-size-large);
    color: var(--font-color-light);
  }
}
