.nav {
  grid-area: nav;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
    
  
  supported by Chrome, Edge, Opera and Firefox */

  &-menu {
    height: 100%;
    // height: 100vh;
    background-color: var(--panel-bg);
    width: 100%;
    padding: var(--spacing-xs);
    display: grid;
    grid-template-rows: 1fr 40px;
  }

  /* Для мобильных устройств */

  @media screen and (max-width: 768px) {
    position:fixed;
    z-index: 99;
    top: 0;
    left: 0;

    z-index: 1000;
    transform: translateX(-100%); /* Start off-screen */
    opacity: 0; /* Invisible initially */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.active {
      transform: translateX(0); /* Slide into view */
      opacity: 1; /* Fully visible */
    }
  }

  /* Для планшетов */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Ваш CSS код для планшетов */
  }

  /* Для ПК */
  @media screen and (min-width: 1200px) {
    padding: var(--spacing-m) 0 var(--spacing-m) var(--spacing-m);
    .nav-menu {
      border-radius: var(--radius-md);
    }

    // margin: var(--spacing-m);
    // top: var(--spacing-m);
    // height: calc(100vh - var(--spacing-m) * 2);
  }

  &__container-nav {
    // font-size: var(--spacing-xxs);
    color: var(--font-color-light);
    a {
      color: var(--font-color-light);
    }
    overflow: hidden;
  }

  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ui-vertical-navigation__list-item {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);

  }
  .ui-vertical-navigation-item__wrapper {
    padding: var(--spacing-xs) var(--spacing-m);
    border-radius: var(--radius-md);
    background-color: var( --panel-item-bg);
    color: var(--menu-item-text);
    &:hover {
      background-color: var(--button-bg-hover);
      color: var(--button-text);
    }
  }
  .Tree {
    display: flex;
    align-items: center;
  }
  // .hover__item {
  //   // background-color: red;
  // }
}
.wrap__nav___btn {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: var(--spacing-m);
  z-index: 80;
  display: flex;
  justify-content: end;
  // background-color: var( --block-bg);
  backdrop-filter: blur(10px) saturate(100%) brightness(100%);
}
.menu__bottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
  // &::after{
  //   position: absolute;
  //   top: -20px;
  //   left: 50%;
  //   transform: translateX(-40%);
  //   width: 100%;
  //   border-top: 1px solid #ce0d0d;
  //   content: ' ';

  // }
}
.nav_menu_tree-header {
  position: relative;
  &-icon {
    position: absolute;
    top: 50%;
    right: var(--spacing-xxs);
    width: 40px;
    height: 40px;    // background-color: red;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav_menu-content_tree {
  background-color: var( --panel-item-bg);

  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  // row-gap: var(--spacing-xs);
  &-list {
    padding: 0 var(--spacing-xxs);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);

    .nav_menu-content_item {
      &:first-child {
        margin-top: var(--spacing-xs);
      }
      &:last-child {
        margin-bottom: var(--spacing-xs);
      }
    }
  }
}

.nav_menu_tree-header-icon {
  transition: transform 0.3s ease;
}

.nav_menu_tree-header-icon.open {
  transform: translateY(-50%) rotate(180deg); /* Поворот иконки вниз */
}

.nav_menu_tree-header-icon.closed {
  transform:translateY(-50%) rotate(0deg); /* Поворот иконки вверх */
}



.nav-menu-close{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--menu-item-text);
  padding: var(--spacing-m); 
  background-color:var( --panel-item-bg);
  border-radius: var(--radius-md);
  svg{
    width: 20px;
    height: 20px;
  }
}