.notification-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  @media (min-width: 1200px) {
    .notification {
        min-width: 400px;
        min-height: 150px;
      
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  
  }
  @media (max-width: 767px) {
    .notification {
        width: 90vw;
    }
    
  }
  .notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: var(--radius-lg);
   
    display: flex;
    align-items: center;
  }
  
  .notification.success {
    background-color: #4CAF50;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  
  .notification.info {
    background-color: #2196F3;
  }
  
  .notification.warning {
    background-color: #ff9800;
  }
  
  .notification .close-btn {
    margin-left: auto;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  