.app.light {
  /* Основные цвета */
  --red: #ff0055; /* Основной красный */
  --dark-red: #a00c3d; /* Темный красный */

  /* Цвета для кнопок */
  --button-bg: #ff8c40; /* Фон кнопки */
  --button-text: #ffffff; /* Текст на кнопке */
  --button-bg-hover: #ff5d40; /* Фон кнопки при наведении */

  /* Цвета меню */
  --menu-item-text: #374151; /* Цвет текста элементов меню */

  /* Цвета списков */
  --list-item-text: #15088b; /* Цвет текста в списках */

  /* Фоны */
  --background-main: #fae3ea; /* Основной фон */
  --background-alt: #ebebf7; /* Альтернативный фон */
  --panel-bg: #f0f0f0; /* Фон панели */
  --panel-item-bg: #ffffff; /* Фон элементов панели */
  --block-bg: #ffffff; /* Фон блоков */
 
    /* Тени */
  --shadow-color: rgba(9, 36, 51, 0.12);

   /* Цвета текста */
  --font-color-light: #000000;
     /* Цвета input */
  --color-form-input: #ffffff;
  --color-form-input-text: #000000;

  --link-color: rgb(0, 0, 0);
  /* Цвет для QR кодов */
  --qr-color: rgb(0, 0, 0); /* Цвет QR кода */
}
