.layout {
  background-color: var(--background-main);

align-items: start;
  display: grid;
  gap: var( --spacing-xxs);
  position: relative;
    //  overflow: hidden;

  @media (min-width: 1200px) {
    grid-template-columns: 350px 1fr;
    grid-template-areas:
      "nav header"
      "nav main "
      "nav main "
      ". footer ";
    &__content {
      width: 100%;
      grid-area: main;
      padding: 0 var(--spacing-xl);
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main "
      "main "
      "footer ";
    &__content {
      width: 100%;
      grid-area: main;
      padding: 0 var(--spacing-xl);
    }
  
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main "
      "main "
      "footer ";
    &__content {
      width: 100%;
      grid-area: main;
    }
    
  }
}
// *::-webkit-scrollbar {
//     height: 12px;
//       width: 12px;
//     }
//    *::-webkit-scrollbar-track {
//     background-color: var(--background-main);
//    }
//   *::-webkit-scrollbar-thumb {
//        background-color: rgb(66, 40, 216);
//      border-radius: 5px;
//      border: 3px solid rgb(255, 255, 255);
//    }
