.CardRead {
  background-color: var(--bg-color-02);
  padding: var(--pm-x);
  display: flex;
  flex-direction: column;
  color: var(--font-color-light);
  justify-content: space-between;
  overflow: hidden;
  row-gap: 10px;
  border-radius: var(--cr-x);
  // box-shadow: 0 12px 20px var(--shadow-color), 0 0 2px var(--shadow-color);
  &__img__wrap {
    width: 100%;
    overflow: hidden;
  }
  &_title{
    height: 100px;
  }
  img {
    border-radius: calc(var(--cr-x) - var(--pm-x));
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  &_bottom-bar {
    padding-top: var(--pm-m);
    display: flex;
    justify-content: space-between;
    // border-top: 1px solid #585858;
  }
  &_wrap_date {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &_text-container {
 width: 100%;

    .truncate-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      line-height: 1.3em;
      height: 6.5em;
    }
  }
}
