.BUSGOV {
  background-color: var( --block-bg);
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-light);
  overflow: hidden;
  row-gap: 10px;
  border-radius: var(--radius-xl);
 
}
