.Header {
  width: 100%;
  grid-area: header;
  top: 0;
  position: sticky;
  z-index: 99;
  display: flex;
  align-items: start;
  padding: var(--pm-x) var(--pm-x3);
  justify-content: space-between;
  gap: var(--pm-x3);
  background-color: var(--bg-color-00);
}
