.dropdown {
  position: relative;
  width: 100%;
  button {
    width: 100%;
    color: var(--btn-color);
    border: none;
    background-color: var(--btn-bg);
    padding: var(--pm-m) var(--pm-x);
    border-radius: var(--cr-m);
  }
  &__list {
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    border: 2px solid var(--btn-bg);
    border-radius: var(--cr-m);
    background-color: var(--bg-color-02);
    padding: var(--pm-m) var(--pm-x);

    max-height: 400px;
    min-height: 200px;
    overflow: hidden;
    z-index: 40;
    &__wrap {
      display: flex;
      flex-direction: column;
      max-height: calc(400px - var(--pm-x) * 2);
      overflow-y: auto;
    }
  }
}
