.Paper{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-02);
    padding: var(--pm-x);
    border-radius: var(--cr-x);

}
.carousel{
    h2{
        margin-bottom: var(--pm-x);
        font-weight: bold;
    }
}